html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: black;
  height: 100%;
}
body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.navbar {
  background: black;
}
.navbar-nav {
  align-items: right;
  text-align: center;
}
.nav-link,
.navbar-brand {
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
  color: #9B9B9B !important;
  font-weight: 500;
}
.nav-link:hover {
  color: #ef7daf !important;
  transition-duration: 0.2s;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-brand span {
  color: #9B9B9B;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 500;
}
.navbar-brand span:hover {
  color: #9B9B9B;
  text-decoration: none;
}
.heading-text,
.nav-link {
  font-family: "Bai Jamjuree";
}
.collection {
  color: white;
}
.mint-info {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  padding: 10px;
  margin-top: -150px;
}
@keyframes fading-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.collection .title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3em;
  margin-bottom: 15px;
}
.collection .mint-progress-border {
  border: 1px #FFFFFF;
}
.round-button {
  height: 32px;
  width: 32px;
  border: none;
  border-radius: 50px;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 2px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
#mint-amount {
  text-align: center;
  font-size: 1.25em;
  width: 100%;
}
#mint-button {
  width: 100%;
  border: none;
  border-radius: 50px;
  font-size: 1.5em;
  height: 40px;
  vertical-align: middle;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
@keyframes character-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 896px) {
  .collection {
    padding-top: 115px;
  }
  .collection .navbar-brand span {
    margin-left: 10px;
  }
  .character {
    width: 150%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    position: fixed;
    left: -80px;
    bottom: 0px;
    z-index: 10;
  }
  .mint-info {
    background-color: rgba(0, 0, 0, 0.65) !important;
    position: relative;
    margin-top: 0px;
    z-index: 100;
  }
  .mint-info .title {
    font-size: 2.5em !important;
  }
  .text-align-right,
  .text-align-left {
    text-align: center !important;
  }
}
@media only screen and (min-width: 897px) {
  .collection {
    display: flex;
  }
  .collection .navbar-brand span {
    margin-left: 15px;
  }
  .container {
    height: 100%;
    overflow: hidden;
  }
  .character {
    height: 100vh;
    overflow: hidden;
  }
  .mint-info {
    margin-top: 115px;
  }
  .character.active {
    animation: character-fade-in 2s forwards ease;
  }
}
